html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

.vertical-title {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 240px;
  color: #a3a5ab;
  transform: rotate(180deg);
  z-index: 2;
}
.vertical-title p {
  padding: 25px 26px;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  writing-mode: vertical-rl;
}

.grid {
  position: absolute;
  top: 100px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  z-index: 1;
}
.grid .column-grid {
  background: #e9ecf1;
  width: 1px;
  height: 100%;
}

.btn-red {
  background: #e64850;
  display: inline-block;
  padding: 16px 27px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff !important;
  border-radius: 2px;
}

.text-red {
  color: #e64850;
}

.follow-us {
  width: 6.59%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.follow-us .social-network {
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  z-index: 2;
}
.follow-us .social-network i {
  margin-top: 50px;
  font-size: 17px;
  color: #c0c3cb;
  cursor: pointer;
}
.follow-us .social-network i:first-child {
  margin-top: 30px;
}
.follow-us .social-network i:hover {
  color: #e64850;
}

.nav-circles {
  display: flex;
  align-items: center;
}
.nav-circles .circle {
  background: transparent;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  cursor: pointer;
  border: 1.4px solid #bcbeb5;
  border-radius: 100%;
}
.nav-circles .circle:hover {
  background: #e64850;
  border: none;
}

.phone, .address, .mail {
  display: flex;
  align-items: center;
}
.phone i, .address i, .mail i {
  margin-right: 7px;
}

html, body {
  background: #fff;
  min-width: 320px;
  font-size: 16px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

.site-header {
  position: relative;
  background: linear-gradient(to right, #e64850 0%, #e64850 53%, #ffffff 53%, #ffffff 100%);
  display: flex;
  z-index: 2;
}
.site-header .wrapp-header {
  display: flex;
  width: 100%;
  padding: 0 6.59%;
}
.site-header .wrapp-header .header-contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 16px 30px 60px 24px;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.site-header .wrapp-header .header-contact-info .logo {
  margin-right: 50px;
}
.site-header .wrapp-header .navbar {
  width: 50%;
  background: #fff;
  margin-top: -20px;
  padding: 16px 60px 40px 78px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.site-header .wrapp-header .navbar .menu-btn {
  display: none;
}
.site-header .wrapp-header .navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
.site-header .wrapp-header .navbar .navbar-nav .menu-item {
  height: 100%;
}
.site-header .wrapp-header .navbar .navbar-nav .menu-item a {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 3px solid transparent;
  color: #3d4550;
}
.site-header .wrapp-header .navbar .navbar-nav .menu-item a:hover {
  border-bottom: 3px solid #e64850;
}
.site-header .search {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: #f2f4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.59%;
  margin-left: -15px;
  padding-bottom: 60px;
}
.site-header .search i {
  font-size: 18px;
  color: #56585e;
}

.site-footer {
  background: #0a1726;
}
.site-footer .wrapp-footer {
  width: 67%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 79px 0 65px;
  color: #5b6a7b;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.site-footer .wrapp-footer .footer-contact-info {
  width: 33%;
}
.site-footer .wrapp-footer .footer-contact-info .logo {
  border-bottom: 1px solid #5b6a7b;
}
.site-footer .wrapp-footer .footer-contact-info .logo .custom-logo-link {
  width: 107px;
  padding-bottom: 30px;
}
.site-footer .wrapp-footer .footer-contact-info .address {
  margin-top: 20px;
  line-height: 1.7;
  align-items: flex-start;
}
.site-footer .wrapp-footer .footer-contact-info .address i {
  margin-top: 7px;
}
.site-footer .wrapp-footer .footer-contact-info .mail {
  margin: 15px 0;
}
.site-footer .wrapp-footer .footer-contact-info .mail a,
.site-footer .wrapp-footer .footer-contact-info .phone a {
  color: #5b6a7b;
}
.site-footer .wrapp-footer .footer-menu .footer-menu-title {
  font-weight: bold;
  font-size: 20px;
}
.site-footer .wrapp-footer .footer-menu .navbar-nav .menu-item {
  margin-top: 15px;
}
.site-footer .wrapp-footer .footer-menu .navbar-nav .menu-item a {
  color: #5b6a7b;
}
.site-footer .wrapp-footer .write-to-us {
  width: 30%;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-title {
  font-weight: bold;
  font-size: 20px;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-form {
  margin-top: 10px;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-form .form-input-group input, .site-footer .wrapp-footer .write-to-us .write-to-us-form .form-input-group .message-form {
  background: #0e1c2d;
  width: 100%;
  padding: 4px 17px;
  margin-top: 7px;
  border: 1px solid #12263e;
  color: #485666;
  border-radius: 0px;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-form .form-input-group .message-form {
  height: 79px;
  resize: none;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-form .form-input-group .wpcf7-not-valid-tip {
  margin-top: 5px;
  color: #5b6a7b;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-form .wpcf7-response-output {
  border: 1px solid #12263e;
}
.site-footer .wrapp-footer .write-to-us .write-to-us-form .btn-submit {
  background: #0a1726;
  padding: 8px 34px;
  margin-top: 8px;
  border: 1px solid #12263e;
  border-radius: 0px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #485666;
  font-size: 14px;
  float: right;
}
.site-footer .copyright {
  background: #07111c;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
.site-footer .copyright p {
  color: #495665;
}
.site-footer .copyright p span {
  font-weight: bold;
}

.front-block {
  display: flex;
  width: 100%;
  margin-top: -40px;
}
.front-block .front-slider {
  position: relative;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
.front-block .front-slider .opacity-block {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(81, 97, 123, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 9%;
  z-index: 1;
}
.front-block .front-slider .opacity-block .text-slider {
  max-width: 515px;
  color: #fff;
}
.front-block .front-slider .opacity-block .text-slider .title-slider {
  font-size: 64px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  white-space: pre-line;
}
.front-block .front-slider .opacity-block .text-slider .slogan {
  margin: 28px 0 26px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.73;
}
.front-block .front-slider .opacity-block .text-slider .slogan span {
  font-weight: bold;
}
.front-block .front-slider .wrapp-item-fs {
  width: 100%;
  display: flex;
  transition: 1s;
}
.front-block .front-slider .wrapp-item-fs .item-front-slider {
  position: relative;
  min-width: 100%;
  max-height: 765px;
}
.front-block .front-slider .wrapp-item-fs .item-front-slider img {
  object-position: center;
  object-fit: cover;
}
.front-block .front-slider .front-slider-nav-btn {
  position: absolute;
  bottom: 60px;
  right: 65px;
  color: #fff;
  text-align: right;
}
.front-block .front-slider .front-slider-nav-btn .count-slide {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.front-block .front-slider .front-slider-nav-btn .count-slide .active-front-slide {
  margin-right: 3px;
}
.front-block .front-slider .front-slider-nav-btn .nav-line {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.front-block .front-slider .front-slider-nav-btn .nav-line .line {
  background: #fff;
  width: 26px;
  height: 5px;
  margin-left: 9px;
  cursor: pointer;
}
.front-block .front-slider .front-slider-nav-btn .nav-line .line:hover, .front-block .front-slider .front-slider-nav-btn .nav-line .line.active {
  background: #e64850;
}
.front-block .subscribe {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-shrink: 0;
  width: 6.59%;
  padding-bottom: 70px;
  z-index: 2;
}
.front-block .subscribe .btn-subscribe {
  background: #f0f3f9;
  display: inline-block;
  padding: 15px 28px;
  border-radius: 2px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  letter-spacing: 0.2em;
  color: #a9abb0;
  text-transform: uppercase;
  transform: rotate(-90deg);
}
.front-block .subscribe .vertical-title .title-line:first-child {
  height: 100px;
}

.what-we-do {
  padding: 33px 0 50px;
  overflow: hidden;
  display: flex;
}
.what-we-do .wwd-description-block, .what-we-do .wrapp-wwd-slider {
  width: 50%;
}
.what-we-do .wwd-description-block {
  padding-right: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.what-we-do .wwd-description-block .wrapp-text {
  max-width: 70%;
}
.what-we-do .wwd-description-block .wrapp-text .wwd-title {
  font-size: 48px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #24292e;
}
.what-we-do .wwd-description-block .wrapp-text .wwd-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.8;
  color: #8a8d96;
}
.what-we-do .wwd-description-block .wrapp-text .wwd-description p {
  margin: 15px 0;
}
.what-we-do .wrapp-wwd-slider {
  position: relative;
}
.what-we-do .wrapp-wwd-slider .bg-wwd-slider {
  position: absolute;
  left: 20%;
  background: #f2f4f9;
  width: 50vw;
  height: 100%;
}
.what-we-do .wrapp-wwd-slider .wwd-slider {
  position: relative;
  display: flex;
  align-items: center;
  padding: 105px 0 20px;
  margin-left: 65px;
  z-index: 1;
}
.what-we-do .wrapp-wwd-slider .wwd-slider .wwd-item {
  min-width: 580px;
  padding: 35px;
}
.what-we-do .wrapp-wwd-slider .wwd-slider .wwd-item img {
  box-shadow: 20px 20px 50px 5px rgba(148, 150, 157, 0.5);
}
.what-we-do .wrapp-wwd-slider .wwd-slider .wwd-item:first-child {
  padding: 0;
}
.what-we-do .wrapp-wwd-slider .nav-circles {
  position: relative;
  padding: 0 0 125px 31%;
}

.statistics {
  position: relative;
  z-index: 1;
}
.statistics .wrapp-statistics {
  background: #57657b url("../img/bg.png");
  background-position: center;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 10px 10px 20px 5px rgba(148, 150, 157, 0.2);
}
.statistics .wrapp-statistics .statistics-item {
  width: 25%;
  padding: 55px 20px 37px;
  transition: 0.5s;
  text-align: center;
  transform: scale(1);
}
.statistics .wrapp-statistics .statistics-item .statistics-text {
  color: #fff;
  font-weight: bold;
}
.statistics .wrapp-statistics .statistics-item .statistics-text .quantity {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
}
.statistics .wrapp-statistics .statistics-item .statistics-text .statistics-description {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.statistics .wrapp-statistics .statistics-item:hover {
  background: #e64850;
  transform: scale(1.1);
  box-shadow: 10px 10px 20px 5px rgba(148, 150, 157, 0.2);
}

.case {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -85px;
}
.case .wrapp-case {
  background: #e9ecf3;
  width: 100%;
  padding: 176px 0 100px;
  text-align: center;
}
.case .wrapp-case .title-case {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #191919;
}
.case .wrapp-case .activities {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}
.case .wrapp-case .activities .kind {
  margin: 0 27px;
  font-size: 18px;
  color: #9aa4ad;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}
.case .wrapp-case .activities .kind:hover {
  color: #5e6770;
}
.case .wrapp-case .activities .kind:hover .count-project {
  color: #e64850;
}
.case .wrapp-case .wrapp-slider-case {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.case .wrapp-case .wrapp-slider-case .slider-case {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 90%;
  overflow: hidden;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case {
  position: relative;
  min-width: 20%;
  margin: 0 21px;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case:last-child {
  margin-left: 0;
  opacity: 0.35;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case:first-child {
  margin-right: 0;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case .hide-block {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(107, 124, 151, 0.8) 0%, #4b596d 100%);
  width: 100%;
  display: flex;
  align-items: flex-end;
  transition: 0.5s;
  text-align: left;
  overflow: hidden;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case .hide-block .text-block-slide {
  width: 90%;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case .hide-block .text-block-slide .name-project {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 28px;
  line-height: 1.2;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case .hide-block .text-block-slide .description-project {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}
.case .wrapp-case .wrapp-slider-case .slider-case .item-slider-case:hover .hide-block {
  padding: 40px;
  top: 0;
}
.case .wrapp-case .wrapp-slider-case .next-btn {
  background: #cbcfd9;
  width: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  z-index: 1;
}
.case .wrapp-case .wrapp-slider-case .next-btn i {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.reviews {
  position: relative;
}
.reviews .bg-sr {
  position: absolute;
  top: -50px;
  right: 0px;
  background: #f2f4f9;
  height: 50px;
  width: 54%;
}
.reviews .wrapp {
  display: flex;
  overflow: hidden;
}
.reviews .text-block-reviews {
  background: url("../img/bg-review.png");
  padding: 40px 4% 40px 0;
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .text-block-reviews .wrapp-text {
  width: 51%;
}
.reviews .text-block-reviews .wrapp-text .title-tb {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.25;
  color: #24292e;
}
.reviews .text-block-reviews .wrapp-text .description-td {
  margin: 25px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: #8f939c;
}
.reviews .text-block-reviews .wrapp-text .btn-default {
  display: inline-block;
  padding: 14px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #51617b;
  border: 1px solid #51617b;
}
.reviews .wrapp-slider-reviews {
  background: #f2f4f9;
  max-width: 54%;
  margin: -40px 0 60px -16%;
  padding: 130px 0 100px;
}
.reviews .wrapp-slider-reviews .wrapp-reviews {
  display: flex;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review {
  background: #fff;
  min-width: 433px;
  margin-right: 27px;
  padding: 50px 25px 30px 45px;
  border-radius: 3px;
  box-shadow: 10px 10px 20px 5px rgba(148, 150, 157, 0.2);
  transition: 0.5s;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .message {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.77;
  color: #6e7179;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .wrapp-stars {
  display: flex;
  margin: 15px 0 10px;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .wrapp-stars .star {
  margin-right: 8px;
  color: #e64850;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .person {
  display: flex;
  align-items: center;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .person .photo {
  width: 69px;
  height: 69px;
  margin-right: 15px;
  border-radius: 100%;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .person .info-person {
  font-family: "Roboto", sans-serif;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .person .info-person .name-man {
  font-weight: bold;
  font-size: 18px;
  color: #191919;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review .person .info-person .address-man {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #a5a5b5;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review:hover {
  background: #e64850;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review:hover .message,
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review:hover .wrapp-stars .star,
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review:hover .info-person .name-man,
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review:hover .info-person .address-man {
  color: #fff;
}
.reviews .wrapp-slider-reviews .wrapp-reviews .item-review:first-child {
  margin-left: -30px;
}
.reviews .wrapp-slider-reviews .nav-circles {
  padding: 25px 0 0 139px;
}

.latest-news {
  display: flex;
}
.latest-news .latest-news-photo {
  position: relative;
  width: 50%;
}
.latest-news .latest-news-photo img {
  position: relative;
  z-index: 1;
}
.latest-news .latest-news-photo .blue-bg {
  position: absolute;
  bottom: -30px;
  right: 40px;
  background: #0a1726;
  width: 434px;
  height: 462px;
}
.latest-news .wrapp-latest-news {
  width: 50%;
  padding: 42px 0 20px 90px;
}
.latest-news .wrapp-latest-news .title-latest-news {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #24292e;
}
.latest-news .wrapp-latest-news .wrapp-news {
  margin: 30px 0 25px;
  border-bottom: 1px solid #e6e7ec;
}
.latest-news .wrapp-latest-news .wrapp-news .item-news {
  display: flex;
  align-items: center;
  padding: 18px 0;
  border-top: 1px solid #e6e7ec;
}
.latest-news .wrapp-latest-news .wrapp-news .item-news .img-news {
  width: 100px;
  height: 80px;
  margin-right: 20px;
}
.latest-news .wrapp-latest-news .wrapp-news .item-news .text-news {
  font-family: "Roboto", sans-serif;
}
.latest-news .wrapp-latest-news .wrapp-news .item-news .text-news .title-news {
  font-weight: bold;
  font-size: 20px;
  color: #191919;
}
.latest-news .wrapp-latest-news .wrapp-news .item-news .text-news .date-news {
  margin-top: 8px;
  font-size: 16px;
  color: #979aa3;
}

.contact {
  display: flex;
  padding: 145px 0 60px;
}
.contact .contact-us {
  width: 45%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 85px;
}
.contact .contact-us .wrapp-title {
  width: 69%;
}
.contact .contact-us .wrapp-title .title-contact-us {
  color: #24292e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
}
.contact .contact-us .wrapp-title .text-contact-us {
  padding: 45px 0;
  color: #8f939c;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}
.contact .contact-us .wrapp-block-address {
  background: #f2f4f9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 35px 0px 41px;
}
.contact .contact-us .wrapp-block-address .block-address {
  width: 69%;
  font-size: 18px;
  color: #767981;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
.contact .contact-us .wrapp-block-address .block-address .city {
  color: #24292e;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}
.contact .contact-us .wrapp-block-address .block-address .city span {
  font-weight: bold;
}
.contact .contact-us .wrapp-block-address .block-address .mail,
.contact .contact-us .wrapp-block-address .block-address .phone {
  color: #767981;
}
.contact .wrapp-map {
  background: url("../img/map.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}
.contact .wrapp-map .circle-map {
  position: relative;
  background: #fff url("../img/map2.png") no-repeat;
  background-position: center;
  background-size: 65%;
  width: 340px;
  height: 340px;
  border-radius: 100%;
  box-shadow: 0px 20px 30px 5px rgba(148, 150, 157, 0.2);
  transition: 0.75s;
}
.contact .wrapp-map .circle-map .address-map {
  position: absolute;
  bottom: 70px;
  right: 60px;
  text-align: center;
}
.contact .wrapp-map .circle-map .address-map .city-map {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #24292e;
}
.contact .wrapp-map .circle-map .address-map .city-map span {
  font-weight: bold;
}
.contact .wrapp-map .circle-map .address-map .fa-map-marker {
  margin-top: 5px;
  color: #e64850;
  font-size: 40px;
}
.contact .wrapp-map .circle-map:hover {
  background-size: 75%;
  box-shadow: 0px 0px 20px 5px rgba(148, 150, 157, 0.4);
}

.quote {
  position: relative;
  background: #e64850;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
  margin: 0 auto -40px;
  padding: 17px 29px 18px 43px;
  border-radius: 3px;
  z-index: 1;
}
.quote .text-quote {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #fff;
}
.quote .text-quote span {
  font-weight: bold;
}
.quote .btn-white {
  background: #fff;
  padding: 15px 33px;
  color: #e64850;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
}
