.vertical-title {
  position: relative;
  background: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 240px;
  color: $light-gray;
  transform: rotate(180deg);
  z-index: $z2;
  p {
    padding: 25px 26px;
    font-size: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-family: $lato;
    writing-mode: vertical-rl;
  }
  //.title-line{
  //  background: #dcdee4;
  //  width: 3px;
  //  height: 242px;
  //  &:first-child{
  //    height: 56px;
  //  }
  //}
}
.grid{
 position: absolute;
 top: 100px;
 left: 0px;
 bottom: 0px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 0 60px;
 z-index: $z1;
 .column-grid{
   background: #e9ecf1;
   width: 1px;
   height: 100%;
 }
}
.btn-red {
  background: $red;
  display: inline-block;
  padding: 16px 27px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: $montserrat;
  font-weight: 400;
  color: $white !important;
  border-radius: 2px;
}
.text-red{
  color: $red;
}
.follow-us {
  width: 6.59%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  .social-network {
    position: relative;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    z-index: $z2;
    i {
      margin-top: 50px;
      font-size: 17px;
      color: #c0c3cb;
      cursor: pointer;
      &:first-child {
        margin-top: 30px;
      }
      &:hover {
        color: $red;
      }
    }
  }
}
.nav-circles{
  display: flex;
  align-items: center;
  .circle{
    background: transparent;
    width: 14px;
    height: 14px;
    margin: 0 10px;
    cursor: pointer;
    border: 1.4px solid #bcbeb5;
    border-radius: 100%;
    &:hover{
      background: $red;
      border: none;
    }
  }
}
.phone, .address, .mail{
  display: flex;
  align-items: center;
  i{
    margin-right: 7px;
  }
}