.site-footer{
  background: #0a1726;
  .wrapp-footer{
    width: 67%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 79px 0 65px;
    color: $dark-blue;
    font-size: 17px;
    font-family: $roboto;
    font-weight: 300;
    .footer-contact-info{
      width: 33%;
      .logo{
        border-bottom: 1px solid $dark-blue;
        .custom-logo-link{
          width: 107px;
          padding-bottom: 30px;
        }
      }
      .address{
        margin-top: 20px;
        line-height: 1.7;
        align-items: flex-start;
        i{
          margin-top: 7px;
        }
      }
      .mail{
        margin: 15px 0;
      }
      .mail,
      .phone {
        a{
          color: $dark-blue;
        }
      }
    }
    .footer-menu{
      .footer-menu-title {
        font-weight: bold;
        font-size: 20px;
      }
      .navbar-nav{
        .menu-item{
          margin-top: 15px;
          a{
            color: $dark-blue;
          }
        }
      }
    }
    .write-to-us{
      width: 30%;
      .write-to-us-title{
        font-weight: bold;
        font-size: 20px;
      }
      .write-to-us-form{
        margin-top: 10px;
        .form-input-group{
          input, .message-form{
            background: #0e1c2d;
            width: 100%;
            padding: 4px 17px;
            margin-top: 7px;
            border: 1px solid #12263e;
            color: #485666;
            border-radius: 0px;
          }
          .message-form{
            height: 79px;
            resize: none;
          }
          .wpcf7-not-valid-tip{
            margin-top: 5px;
            color: $dark-blue;
          }
        }
        .wpcf7-response-output{
          border: 1px solid #12263e;
        }
        .btn-submit{
          background: #0a1726;
          padding: 8px 34px;
          margin-top: 8px;
          border: 1px solid #12263e;
          border-radius: 0px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.01em;
          color: #485666;
          font-size: 14px;
          float: right;
        }
      }
    }
  }
  .copyright{
    background: #07111c;
    padding: 24px 0;
    font-family: $roboto;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    p{
      color: #495665;
      span{
        font-weight: bold;
      }
    }
  }
}

.site-footer{
  .wrapp-footer{
    .footer-contact-info{
      .logo{

      }
      .address{

      }
      .email{

      }
      .phone{

      }
    }
    .footer-menu{
      .footer-menu-title{

      }
    }
    .write-to-us{
      .write-to-us-title{

      }
    }
  }
  .copyright{
    p{

    }
  }
}