.site-header{
  position: relative;
  background: linear-gradient(to right, #e64850 0%,#e64850 53%,#ffffff 53%,#ffffff 100%);
  display: flex;
  z-index: $z2;
  .wrapp-header{
    display: flex;
    width: 100%;
    padding: 0 6.59%;
    .header-contact-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      padding: 16px 30px 60px 24px;
      color: $white;
      font-family: $lato;
      .logo{
        margin-right: 50px;
      }
    }
    .navbar{
      width: 50%;
      background: $white;
      margin-top: -20px;
      padding: 16px 60px 40px 78px;
      font-family: $montserrat;
      font-size: 12px;
      letter-spacing: 0.1em;
      .menu-btn{
        display: none;
      }
      .navbar-nav{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        .menu-item{
          height: 100%;
          a{
          display: flex;
          align-items: center;
          height: 100%;
          border-bottom: 3px solid transparent;
          color: $font-dark-blue;
          &:hover{
            border-bottom: 3px solid $red;
          }
        }
      }
      }
    }
  }
  .search{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #f2f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.59%;
    margin-left: -15px;
    padding-bottom: 60px;
    i{
      font-size: 18px;
      color: #56585e;
    }
  }
}