html, body{
  background: $white;
  min-width: $mw;
  font-size: 16px;
}
.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1 0 auto;
}
a{
  color: $white;
  text-decoration: none;
  &:hover{
    color: $white;
  }
}
img{
  width: 100%;
  height: 100%;
}