$white: #fff;
$black: #191919;
$light-gray: #a3a5ab;
$red: #e64850;
$font-dark-blue: #3d4550;
$dark-blue: #5b6a7b;
$black-blue: #07111c;

$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$condensed: 'Roboto Condensed', sans-serif;

$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$mw: 320px;

$z1: 1;
$z2: 2;
$z3: 3;