.case{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -85px;
	.wrapp-case{
		background: #e9ecf3;
		width: 100%;
		padding: 176px 0 100px;
		text-align: center;
		.title-case{
			font-family: $montserrat;
			font-weight: bold;
			font-size: 48px;
			color: $black;
		}
		.activities{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 35px 0;
			.kind{
				margin: 0 27px;
				font-size: 18px;
				color: #9aa4ad;
				font-family: $condensed;
				cursor: pointer;
				&:hover{
					color: #5e6770;
					.count-project{
						color: $red;
					}
				}
			}
		}
		.wrapp-slider-case{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.slider-case{
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				max-width: 90%;
				overflow: hidden;
				.item-slider-case{
					position: relative;
					min-width: 20%;
					margin: 0 21px;
					// transition: 1s;
					&:last-child{
						margin-left: 0;
						opacity: 0.35;
					}
					&:first-child{
						margin-right: 0;
					}
					.hide-block{
						position: absolute;
						top: 100%;
						left: 0;
						bottom: 0;
						background: linear-gradient(to bottom, rgba(107, 124, 151, 0.8) 0%, rgb(75, 89, 109) 100%);
						width: 100%;
						display: flex;
						align-items: flex-end;
						transition: 0.5s;
						text-align: left;
						overflow: hidden;
						.text-block-slide{
							width: 90%;
							.name-project{
								font-family: $montserrat;
								font-weight: bold;
								color: $white;
								font-size: 28px;
								line-height: 1.2;
							}
							.description-project{
								margin-top: 20px;
								font-size: 18px;
								font-family: $condensed;
							}
						}
					}
					&:hover{
						.hide-block{
							padding: 40px;
							top: 0;
						}
					}
				}
			}
			.next-btn{
				background: #cbcfd9;
				width: 50px;
				height: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 2px 0 0 2px;
				cursor: pointer;
				z-index: $z1;
				i{
					color: $white;
					font-size: 25px;
					font-weight: bold;
				}
			}
		}
	}
}