.contact{
  display: flex;
  padding: 145px 0 60px;
  .contact-us{
    width: 45%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: 85px;
    .wrapp-title{
      width: 69%;
      .title-contact-us{
        color: #24292e;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 48px;
      }
      .text-contact-us{
        padding: 45px 0;
        color: #8f939c;
        font-family: $roboto;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.5;
      }
    }
    .wrapp-block-address{
      background: #f2f4f9;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 35px 0px 41px;
      .block-address{
        width: 69%;
        font-size: 18px;
        color: #767981;
        font-family: $roboto;
        font-weight: 300;
        line-height: 1.6;
        .city{
          color: #24292e;
          font-family: $montserrat;
          font-size: 26px;
          span{
            font-weight: bold;
          }
        }
        .address-contact-us{

        }
        .mail,
        .phone{
          color: #767981;
        }
      }
    }
  }
  .wrapp-map{
    background: url('../img/map.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    .circle-map{
      position: relative;
      background: $white url('../img/map2.png') no-repeat;
      background-position: center;
      background-size: 65%;
      width: 340px;
      height: 340px;
      border-radius: 100%;
      box-shadow: 0px 20px 30px 5px rgba(148, 150, 157, 0.2);
      transition: 0.75s;
      .address-map{
        position: absolute;
        bottom: 70px;
        right: 60px;
        text-align: center;
        .city-map{
          font-family: $condensed;
          font-size: 20px;
          color: #24292e;
          span{
            font-weight: bold;
          }
        }
        .fa-map-marker{
          margin-top: 5px;
          color: $red;
          font-size: 40px;
        }
      }
      &:hover{
        background-size: 75%;
        box-shadow: 0px 0px 20px 5px rgba(148, 150, 157, 0.4);
      }
    }
  }
}


.contact{
  .contact-us{
    .title-contact-us{

    }
    .text-contact-us{

    }
    .block-address{
      .city{

      }
      .address-contact-us{

      }
      .mail{

      }
      .phone{

      }
    }
  }
  .wrapp-map{
    .circle-map{
      .address-map{
        .city-map{

        }
        .fa-map-marker{

        }
      }
    }
  }
}