.front-block {
  display: flex;
    width: 100%;
    margin-top: -40px;
    .front-slider {
      position: relative;
      width: 100%;
      z-index: $z2;
      overflow: hidden;
      .opacity-block {
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(81, 97, 123, 0.8);
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 9%;
        z-index: 1;
        .text-slider {
          max-width: 515px;
          color: $white;
          .title-slider {
            font-size: 64px;
            line-height: 1.25;
            font-family: $montserrat;
            font-weight: bold;
            white-space: pre-line;
          }
          .slogan {
            margin: 28px 0 26px;
            font-size: 22px;
            font-family: $roboto;
            font-weight: 300;
            line-height: 1.73;
            span {
              font-weight: bold;
            }
          }
        }
      }
      .wrapp-item-fs{
        width: 100%;
        display: flex;
        transition: 1s;
        .item-front-slider {
          position: relative;
          min-width: 100%;
          max-height: 765px;
          img{
            object-position: center;
            object-fit: cover;
          }
        }
      }
      .front-slider-nav-btn {
        position: absolute;
        bottom: 60px;
        right: 65px;
        color: $white;
        text-align: right;
        .count-slide {
          font-family: $roboto;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.1em;
          .active-front-slide{
            margin-right: 3px;
          }
        }
        .nav-line {
          display: flex;
          align-items: center;
          margin-top: 15px;
          .line {
            background: $white;
            width: 26px;
            height: 5px;
            margin-left: 9px;
            cursor: pointer;
            &:hover, &.active{
              background: $red;
            }
          }
        }
    }
  }
  .subscribe {
    position: relative;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    width: 6.59%;
    padding-bottom: 70px;
    z-index: $z2;
    .btn-subscribe {
      background: #f0f3f9;
      display: inline-block;
      padding: 15px 28px;
      border-radius: 2px;
      font-family: $lato;
      font-size: 13px;
      letter-spacing: 0.2em;
      color: #a9abb0;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    .vertical-title {
      .title-line:first-child{
         height: 100px;
      }
    }
  }
}