.latest-news{
  display: flex;
  .latest-news-photo{
    position: relative;
    width: 50%;
    img{
      position: relative;
      z-index: $z1;
    }
    .blue-bg{
      position: absolute;
      bottom: -30px;
      right: 40px;
      background: #0a1726;
      width: 434px;
      height: 462px;
    }
  }
  .wrapp-latest-news{
    width: 50%;
    padding: 42px 0 20px 90px;
    .title-latest-news{
      font-family: $montserrat;
      font-weight: bold;
      font-size: 48px;
      color: #24292e;
    }
    .wrapp-news{
      margin: 30px 0 25px;
      border-bottom: 1px solid #e6e7ec;
      .item-news{
        display: flex;
        align-items: center;
        padding: 18px 0;
        border-top: 1px solid #e6e7ec;
        .img-news{
          width: 100px;
          height: 80px;
          margin-right: 20px;
        }
        .text-news{
          font-family: $roboto;
          .title-news{
            font-weight: bold;
            font-size: 20px;
            color: $black;
          }
          .date-news{
            margin-top: 8px;
            font-size: 16px;
            color: #979aa3;
          }
        }
      }
    }
  }
}

.latest-news{
  .latest-news-photo{
    .blue-bg{

    }
  }
  .wrapp-latest-news{
    .title-latest-news{

    }
    .wrapp-news{
      .item-news{
        .img-news{

        }
        .text-news{
          .title-news{

          }
          .date-news{

          }
        }
      }
    }
  }
}