.quote{
  position: relative;
  background: $red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
  margin: 0 auto -40px;
  padding: 17px 29px 18px 43px;
  border-radius: 3px;
  z-index: $z1;
  .text-quote{
    font-family: $roboto;
    font-size: 22px;
    color: $white;
    span{
      font-weight: bold;
    }
  }
  .btn-white{
    background: $white;
    padding: 15px 33px;
    color: $red;
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}