.reviews {
  position: relative;
  .bg-sr{
    position: absolute;
    top: -50px;
    right: 0px;
    background: #f2f4f9;
    height: 50px;
    width: 54%;
  }
  .wrapp{
    display: flex;
    overflow: hidden;
  }
  .text-block-reviews {
    background: url('../img/bg-review.png');
    padding: 40px 4% 40px 0;
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapp-text {
      width: 51%;
      .title-tb {
        font-family: $montserrat;
        font-weight: bold;
        font-size: 48px;
        line-height: 1.25;
        color: #24292e;
      }
      .description-td {
        margin: 25px 0;
        font-family: $roboto;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.7;
        color: #8f939c;
      }
      .btn-default {
        display: inline-block;
        padding: 14px 20px;
        font-family: $montserrat;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #51617b;
        border: 1px solid #51617b;
      }
    }
  }
  .wrapp-slider-reviews {
    background: #f2f4f9;
    max-width: 54%;
    margin: -40px 0 60px -16%;
    padding: 130px 0 100px;
    .wrapp-reviews {
      display: flex;
      .item-review {
        background: $white;
        min-width: 433px;
        margin-right: 27px;
        padding: 50px 25px 30px 45px;
        border-radius: 3px;
        box-shadow: 10px 10px 20px 5px rgba(148, 150, 157, 0.2);
        transition: 0.5s;
        .message {
          font-family: $roboto;
          font-size: 17px;
          line-height: 1.77;
          color: #6e7179;
        }
        .wrapp-stars {
          display: flex;
          margin: 15px 0 10px;
          .star {
            margin-right: 8px;
            color: $red;
          }
        }
        .person {
          display: flex;
          align-items: center;
          .photo {
            width: 69px;
            height: 69px;
            margin-right: 15px;
            border-radius: 100%;
          }
          .info-person {
            font-family: $roboto;
            .name-man {
              font-weight: bold;
              font-size: 18px;
              color: $black;
            }
            .address-man {
              margin-top: 10px;
              font-size: 14px;
              font-weight: 300;
              color: #a5a5b5;
            }
          }
        }
        &:hover {
          background: #e64850;
          .message,
          .wrapp-stars .star,
          .info-person .name-man,
          .info-person .address-man {
            color: $white;
          }
        }
        &:first-child{
          margin-left: -30px;
        }
      }
    }
    .nav-circles{
      padding: 25px 0 0 139px;
    }
  }
}