.statistics{
	position: relative;
	z-index: $z1;
		.wrapp-statistics{
			background: #57657b url('../img/bg.png');
			background-position: center;
			width: 75%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto;
			box-shadow: 10px 10px 20px 5px rgba(148, 150, 157, 0.2);
			.statistics-item{
				width: 25%;
				padding: 55px 20px 37px;
				transition: 0.5s;
				text-align: center;
				transform: scale(1);
				.statistics-text{
					color: $white;
					font-weight: bold;
					.quantity{
						font-family: $montserrat;
						font-size: 44px;
					}
					.statistics-description{
						margin-top: 15px;
						font-family: $roboto;
						font-size: 18px;
					}
				}
				&:hover{
					background: $red;
					transform: scale(1.1);
					box-shadow: 10px 10px 20px 5px rgba(148, 150, 157, 0.2);
				}
			}
		}
}