.what-we-do{
  padding: 33px 0 50px;
  overflow: hidden;
  display: flex;
  .wwd-description-block, .wrapp-wwd-slider{
    width: 50%;
  }
  .wwd-description-block{
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .wrapp-text{
      max-width: 70%;
      .wwd-title{
        font-size: 48px;
        line-height: 1.8;
        font-family: $montserrat;
        font-weight: bold;
        color: #24292e;
      }
      .wwd-description{
        font-family: $roboto;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.8;
        color: #8a8d96;
        p{
          margin: 15px 0;
        }
      }
    }
  }
  .wrapp-wwd-slider{
    position: relative;
    .bg-wwd-slider{
      position: absolute;
      left: 20%;
      background: #f2f4f9;
      width: 50vw;
      height: 100%;
    }
    .wwd-slider{
      position: relative;
      display: flex;
      align-items: center;
      padding: 105px 0 20px;
      margin-left: 65px;
      z-index: $z1;
      .wwd-item{
        min-width: 580px;
        padding: 35px;
        img{
          box-shadow: 20px 20px 50px 5px rgba(148, 150, 157, 0.5);
        }
        &:first-child{
          padding: 0;
        }
      }
    }
    .nav-circles{
      position: relative;
      padding: 0 0 125px 31%;
    }
  }
}